body > main {
    background-color: lightpink;
}

h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 35%;
    margin-left: 35%;
}

input {
    margin-bottom: 10px;
}

button {
    width: 50px;
    margin-top: 15px;
}
p {
    display: flex;
    justify-content: center;
}