body {
    background-color: lightyellow;
}


section {
    margin-left: 25%;
    margin-right: 25%;
}


div {
    margin-bottom: 5px;
    border: 2px solid black;
}

img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 225px;
}